*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#clock{
    text-align: center;
    background-color: aqua;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
}